__pycache__/
.ipynb_checkpoints/
exps
common_utils/build/
.vscode
wandb
data/
*.png
*.pdf
*.mp4
*.gif
.env
release/model
release/data
*.zip
exp/
experiments/
models/
waypoint_test.pth
model_resnet50.pth
mode.pth
6_26_mode_only_boxclose.pth
box_new_resnet50.pth
robosuite_mode_101.pth
mode_3train_1test/
augmented_data/
mode_models/
# waypoint_models/
mode_augumented_efficientNet.pth
augumented_modes/
mode_models_augmented/
mode_models_jul_03/
mw12/
utilfiles/
ur_ikfast/

